.career {
    z-index: 1;
    // margin-top: 15vh;
    padding: 2%;
    color: white;
    width: 90%;
    height: 80vh;

    .careerContent {    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 3%;
    }

    .careerText {
        padding: 1%;
        width: 60%;
    }

    img {
        transform: rotateY(180deg);
        max-width: 22vw;
        margin-top: 1vh;
        filter: grayscale(1);
        border: solid;
    }
}


// responsive_____________________________________

@media (max-width: 768px) {
    .careerText {
        font-size: x-small;
    }
}