.career {
    z-index: 1;
    margin-top: 15vh;
    padding: 2%;
    color: white;
    // height: 800px;
    width: 90%;
    // border: solid;

    .careerText{
        padding: 1%;
    }
}


// responsive_____________________________________

@media (max-width: 768px){
    .careerText {
        font-size: x-small;
    }
}