.description {
    display: flex;
    color: white;
    padding-top: 20%;
    padding-left: 1%;
    font-size: 7vw;
    font-weight: 700;
    position: relative;
    
    h1 {
        font-size: 7vw
    }

    img {
        max-width: 22vw;
        margin-top: 55px;
        margin-left: 13vw;
        filter: grayscale(1);
        border: solid;
    }

    .roller {
        position: relative;
        padding-left: 0.5rem;
        font-size: 1.8vw;
        height: 5rem;
        line-height: 4rem;
        overflow: hidden;
        width: 100%;
        letter-spacing: 20px;
        opacity: 0.6;
    }

    .sentence {
        font-size: 1.3vw;
        font-weight: 700;
        font-style: italic;
        letter-spacing: 0.5rem;
        color: white;

    }

    .roller .rolltext {
        position: absolute;
        top: 0;
        animation: slide 8s infinite;
    }
}

.top {
    margin-top: -35vh;
    height: 2px;
}


// responsive

@media (max-width: 768px) {

    .description {
        padding-top: 35%;
    }

    img {
       
    }
}









//   @media screen and (max-width: 600px){
//     h1{
//     text-align:center;
//     text-transform: uppercase;
//     color: #F1FAEE; 
//     font-size: 2.125rem;
//   }

//     .roller{
//     height: 2.6rem; 
//     line-height: 2.125rem;  
//     }

//     .sentence {
//       font-size: 1rem;
//       letter-spacing: 0.1rem;
//     }

//     .roller .rolltext {  
//     animation: slide-mob 5s infinite;  
//   }

//     @keyframes slide-mob {
//     0%{
//       top:0;
//     }
//     25%{
//       top: -2.125rem;    
//     }
//     50%{
//       top: -4.25rem;
//     }
//     72.5%{
//       top: -6.375rem;
//     }
//   }
//   }