.footer {
    text-align: center;
    background-color: $black;
    opacity: 0.5;
    position: relative;
    height: 15vh;
    color: white;
    margin-top: 16vh;

    img, p {
        height: 8vh;
        position: relative;
        z-index: 3;

    }

}