.portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
    padding: 2%;
    margin-top: 10vh;
    color: white;
    margin-bottom: 15vh;

    .flexCard {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3%;
        padding: 1%;
        // border: solid;
    }

    img {
            object-fit: contain;
            width: 500px;
            max-height: 400px;
            max-height: 300px;
            border: solid;
            background-color: white;
            // filter: grayscale(1);
        }
    
    .portfolioText {
        width: 45%;
    }
}

// responsive_______________________________________
@media (max-width: 1024px){
    .portfolioText {
        min-width: 90%;
        padding-top: 2%;
    }
}

@media (max-width: 768px){
    .portfolio {

        img {
            width: 300px;
            max-height: 200px;
        }

        .portfolioText {
            font-size: x-small;
        }
    }
}





