.portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
    padding: 1%;
    margin-top: 40px;
    color: white;

    .flexCard {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .projects {
        display: flex;
        flex-direction: row;
        gap: 3%;
        padding: 1%;
        // border: solid;
    }

    img {
            object-fit: contain;
            width: 500px;
            max-height: 400px;
            border: solid;
        }
    
    .portfolioText {
        width: 50%;
    }
}



