* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}



ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.noise {
    display: flex;
    flex-direction: column;
}

.noise::before {
    position: absolute;
    height: 400vh;
    width: 100%;
    content: "";
    opacity: .155;
    background: url("../assets/images/noise.gif");
    z-index: 0;
}

$grey: rgb(147, 147, 147);
$black: rgb(25, 25, 25);

.bar {
    border: solid 2px;
    margin-bottom: 2vh;
    max-width: 95%;
}




// responsive________________________________________

@media (max-width: 768px){
    h2 {
        font-size: small;
    }
}